body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 55%;
    margin: auto;
    text-align: left;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"], select {
    width: 300px;
    padding: 5px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #ffffff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #5e5c64;
    color: white;
    text-align: center;
}